body{
    background-color: lightblue;
}
h1,.info{
    color:blue;
    background-color:rebeccapurple;
}
#label,#confidence{
    color:blue;
    font-size:20px;
    padding-top:10px;


}
#showsketch{
    float:right;

}
canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name:Example;
    animation-duration:2s;
    margin-top:50px;
    animation-iteration-count:infinite;

}

@keyframes Example{
    from{box-shadow:1px 1px 38px darkblue;}
    to{box-shadow:1px 1px 38px darkcyan;}
        
        }




